<div class="flex h-full flex-col">
  <div role="tablist" class="tabs tabs-bordered px-2 pt-2 shrink-0">
    <a role="tab" class="tab" [class.tab-active]="tab() === 'props'" (click)="setTab('props')">Properties</a>
    <a role="tab" class="tab" [class.tab-active]="tab() === 'project'" (click)="setTab('project')">Project</a>
    <a role="tab" class="tab" [class.tab-active]="tab() === 'bom'" (click)="setTab('bom')">BOM</a>
    <a role="tab" class="tab gap-1" [class.tab-active]="tab() === 'checks'" (click)="setTab('checks')">
      Checks
      @if (compliance.issues().length > 0) {
        <span class="badge badge-error badge-xs">{{ compliance.issues().length }}</span>
      }
    </a>
  </div>

  <div class="flex-1 overflow-y-auto p-3">
    @switch (tab()) {
      @case ('props') { <cp-properties-tab /> }
      @case ('project') { <cp-project-tab /> }
      @case ('bom') { <cp-bom-tab /> }
      @case ('checks') { <cp-checks-tab /> }
    }
  </div>
</div>
